# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Databases
*.db
*.sqlite

# Environments
.venv/
env/
venv/
ENV/

# Logs
*.log
reports/etl_pipeline.log

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
